html {
    scroll-padding-top: 80px; /* Adjust this based on your header height */
  }  
.align-text-left{
    text-align: left;
}
.panel-heading {
    background: #f28b00 ;   
    border-radius: 1rem;
}
.quiz-links{
    min-height: 88%;
}
.quiz-parent-div{
    min-height: 86%;   
}
.guide .display-2{
    font-size: 3rem;
    margin-top: 1rem;
}
.guide .guide-list>li{
    list-style: none;
    padding-top: .5rem;
}
.guide .guide-list>li>a{
    font-weight: 600;
    margin-left: -1rem;
    text-decoration: underline;
}
.guide .guide-list{
    margin-left : -1rem;
}
.guide .post-content h2, .guide .post-content h3, .guide .post-content h4{
    scroll-margin-top: 5.5rem; /* Adjust this value as needed */
}
.istqb-guide .card{
    width: 100%; 
    max-width: 300px;
}
.guide h1{   
    font-size: 1.3rem !important;
}
.guide h2:not(.title), .guide h3:not(.title), .guide h4:not(.title){   
    font-size: 1.2rem !important;
}