.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card .card-body:hover .overlay {
    opacity: 1;
}
.overlay a {
    font-size: 1.1rem;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    
}
.guide h1{   
    font-size: 1.3rem !important;
}
.guide h2:not(.title), .guide h3:not(.title), .guide h4:not(.title){   
    font-size: 1.2rem !important;
}
